<td><%= client.name %></td>
<td><%= client.age %></td>
<td>
  <% if client.paid_services.where.not(:lack => 0).size > 0 %>
    <i class="fa fa-exclamation-triangle text-warning" aria-hidden="true"></i>
  <% else %>
    <i class="fa fa-check text-success" aria-hidden="true"></i>
  <% end %>
</td>
<td><%= client.paid_services.where(:status => true).size %></td>
<td>
  <% if client.visited_days.find_by(:day => Date.today) %>
    <i class="text-success">Пришел</i>
  <% else %>
    <%= link_to "Отметить",handle_visit_client_path(client.id),remote:true ,class: "btn btn-primary" %>
  <% end %>
</td>
<td><%= link_to "Посмотреть",client_path(client.id) %></td>
