<h2><%= @client.name %></h2>

<div id="calendar">
  <%= render "calendar",client: @client %>
</div>
<h3>Оформленные услуги</h3>
<table class="table">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Оплаченная сумма</th>
      <th>Требуемая сумма</th>
      <th>Состояние</th>
      <th>Оплата</th>
    </tr>
  </thead>
  <tbody>
    <% @paid_services.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.total_paid_amount %></td>
      <td><%= item.total_required_amount %></td>
      <td>
        <% if item.canceled? %>
          <i class="text-danger">Отменена <%= item.canceled_at.strftime("%F %T") %></i>
        <% else %>
          <% if item.active? %>
          <i class="text-success">Активно</i>
          <% else %>
          <i class="text-danger">Неактивно</i>
          <% end %>
        <% end %>
      </td>
      <td>
        <% if item.total_lack == 0 %>
          <i class="text-success">Оплачено</i>
          <% elsif item.total_paid_amount == 0 %>
          <i class="text-danger">Неоплачено</i>
          <%= link_to "Оформить доплату", surcharge_paid_service_path(item.id),class: "btn btn-primary" %>
          <% else %>
          <i class="text-warning">Неполная оплата(Недостаточно <%= item.total_lack %>грн)</i>
          <% unless item.canceled? %>
            <%= link_to "Доплатить", surcharge_paid_service_path(item.id),class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </td>
      <td>
        <%= link_to "Подробнее",paid_service_path(item.id) %>
        <% if current_user.admin? && !item.canceled?%>
          <%= link_to "Отменить",paid_service_path(item.id),method: :delete %>
        <% end %>
      </td>
      
      
    </tr>
    <% end %>
  </tbody>
</table>
<h3>Информация о родителях</h3>
<table class="table-bordered mb-5">
  <tbody>
   <tr>
     <th class="left-side"></th>
     <th class="text-center">Папа</th>
     <th class="text-center">Мама</th>
   </tr>
   <tr>
     <th>ФИО</th>
     <td class="text-center"><%= @parent.father_name %></td>
     <td class="text-center"><%= @parent.mother_name %></td>
   </tr>
    <tr>
     <th>Номер телефона</th>
     <td class="text-center"><%= @parent.father_phone %></td>
     <td class="text-center"><%= @parent.mother_phone %></td>
   </tr>
    <tr>
     <th>Дополнительный номер телефона</th>
     <td class="text-center"><%= @parent.father_additional_phone %></td>
     <td class="text-center"><%= @parent.mother_additional_phone %></td>
   </tr>
    <tr>
     <th>Адрес</th>
     <td class="text-center"><%= @parent.father_adress %></td>
     <td class="text-center"><%= @parent.mother_adress %></td>
   </tr>
    <tr>
     <th>Рабочий адрес</th>
     <td class="text-center"><%= @parent.father_work_adress %></td>
     <td class="text-center"><%= @parent.mother_work_adress %></td>
   </tr>
    <tr>
     <th>Дата рождения</th>
     <td class="text-center"><%= @parent.father_birthdate %></td>
     <td class="text-center"><%= @parent.mother_birthdate %></td>
   </tr>
    <tr>
     <th>Email</th>
     <td class="text-center"><%= @parent.father_email %></td>
     <td class="text-center"><%= @parent.mother_email %></td>
   </tr>
  </tbody>
</table>

<%= link_to "Редактировать",edit_client_path(@client.id), class: "btn btn-success" %>


