<h2><%= @client.name %></h2>

<div id="calendar">
  <%= render "calendar",client: @client %>
</div>
<h3>Оформленные услуги</h3>
<table class="table">
  <thead>
    <tr>
      <th>Услуга</th>
      <th>Дата начала</th>
      <th>Дата окончания</th>
      <th>Оплаченная сумма</th>
      <th>Требуемая сумма</th>
      <th>Состояние</th>
      <th>Оплата</th>
    </tr>
  </thead>
  <tbody>
    <% @paid_services.each do |item| %>
    <tr>
      <td><%= item.title %></td>
      <td><%= item.start_date %></td>
      <td><%= item.end_date %></td>
      <td><%= item.amount %></td>
      <td><%= item.required_amount %></td>
      <td>
        <% if item.check_status %>
        <i class="text-success">Активно</i>
        <% else %>
        <i class="text-danger">Неактивно</i>
        <% end %>
      </td>
      <td>
        <% if item.lack == 0 %>
        <i class="text-success">Оплачено</i>
        <% elsif item.amount == 0 %>
        <i class="text-danger">Неоплачено</i>
        <%= link_to "Оформить доплату", edit_paid_service_path(@client.id,item.id),class: "btn btn-primary" %>
        <% else %>
        <i class="text-warning">Неполная оплата(Недостаточно <%= item.lack %>грн)</i>
        <%= link_to "Доплатить", edit_paid_service_path(item.id),class: "btn btn-primary" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<h3>Питание</h3>
<table class="table">
  <thead>
    <tr>
      <th>Оплаченные дни</th>
      <th>Осталось дней</th>
      <th>Сумма оплаты</th>
      <th>Остаток</th>
      <th>Комментарий</th>
      <th>Действия</th>
    </tr>
  </thead>
  <tbody>
    <% if @food %>
    <tr>
      <td><%= @food.days_count.count_days %></td>
      <td><%= @food.days_count.current_count_days %></td>
      <td><%= @food.amount %></td>
      <td><%= @food.food_balance %></td>
      <td><%= @food.comment %></td>
      <td><%= link_to "Списать остаток",remove_food_balance_client_path(@client.id,@food.id),method: :put %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<h3>Информация о родителях</h3>
<table class="table-bordered mb-5">
  <tbody>
   <tr>
     <th class="left-side"></th>
     <th class="text-center">Папа</th>
     <th class="text-center">Мама</th>
   </tr>
   <tr>
     <th>ФИО</th>
     <td class="text-center"><%= @parent.father_name %></td>
     <td class="text-center"><%= @parent.mother_name %></td>
   </tr>
    <tr>
     <th>Номер телефона</th>
     <td class="text-center"><%= @parent.father_phone %></td>
     <td class="text-center"><%= @parent.mother_phone %></td>
   </tr>
    <tr>
     <th>Дополнительный номер телефона</th>
     <td class="text-center"><%= @parent.father_additional_phone %></td>
     <td class="text-center"><%= @parent.mother_additional_phone %></td>
   </tr>
    <tr>
     <th>Адрес</th>
     <td class="text-center"><%= @parent.father_adress %></td>
     <td class="text-center"><%= @parent.mother_adress %></td>
   </tr>
    <tr>
     <th>Рабочий адрес</th>
     <td class="text-center"><%= @parent.father_work_adress %></td>
     <td class="text-center"><%= @parent.mother_work_adress %></td>
   </tr>
    <tr>
     <th>Дата рождения</th>
     <td class="text-center"><%= @parent.father_birthdate %></td>
     <td class="text-center"><%= @parent.mother_birthdate %></td>
   </tr>
    <tr>
     <th>Email</th>
     <td class="text-center"><%= @parent.father_email %></td>
     <td class="text-center"><%= @parent.mother_email %></td>
   </tr>
  </tbody>
</table>

<%= link_to "Редактировать",edit_client_path(@client.id), class: "btn btn-success" %>


