<% collection.each do |operation| %>
  <tr>
    <% if operation.respond_to?(:sender) %>
    <td><%= operation.sender.branch.title  %></td>
    <% end %>

    <% if operation.respond_to?(:reciever) %>
    <td><%= operation.reciever.branch.title  %></td>
    <% end %>

    <% if operation.respond_to?(:acceptor) %>
    <td><%= operation.acceptor  %></td>
    <% end %>

    <% if operation.respond_to?(:client) %>
    <td>
      <% if operation.client %>
        <%= operation.client.name  %>
      <% end %>
    </td>
    <% end %>

    <% if operation.respond_to?(:title) %>
    <td><%= operation.title  %></td>
    <% end %>

    <td><%= operation.amount %>грн</td>

    <% if operation.respond_to?(:status) %>
    <td><%= operation.status  %></td> 
    <% end %>

    <td><%= operation.created_at.strftime("%F %T") %></td>
    <td><%= operation.comment %></td>
    <td>
      <%= link_to "Просмотреть", operation_path(operation) %>
      <% if operation.respond_to?(:exec_transfer) %>
      <%= link_to "Подтвердить", confirme_transfer_path(operation.id),method: :put %>
      <% end %>
    <td>
  </tr>
<% end %>