<div class="row">
  <div class="col-md-5 offset-md-2">
    <%= form_for @paid_service,url: paid_services_path do |f| %>
    <div class="form-group">
      <%= f.label "Тип услуги" %>
      <%= f.select :service_id, current_branch.services.collect{|s| [s.title, s.id,{"data-price" => s.price}]},{},{class: "custom-select",id: "select_service" } %>
    </div>
    <div class="form-group">
      <%= f.label "Для кого" %>
      <%= f.select :client_id, current_branch.clients.collect{|s| [s.name, s.id]},{},{class: "custom-select",id: "select_client" } %>
    </div>
    <div class="form-group">
      <%= f.label "Начало" %>
      <%= f.date_field :start_date,class: "form-control date" %>
    </div>
    <div class="form-group">
      <%= f.label "Конец" %>
      <%= f.date_field :end_date,class: "form-control date" %>
    </div>
    <div class="form-group">
      <%= f.label "Требуемая сумма" %>
      <%= f.text_field :required_amount,class: "form-control",id: "require-price", readonly: "readonly" %>
    </div>
    <div class="form-group">
      <%= f.label "Сумма" %>
      <%= f.text_field :amount,class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Комментарий" %>
      <%= f.text_area :comment,class: "form-control" %>
    </div>
    <%= f.submit "Оформить", class: "btn btn-success form-control" %>
    <% end %>
  </div>
</div>
<script>
  $(document).ready(function(){
    var select = $("#select_service")
    var price = select.find("option:selected").data('price');
    $('#require-price').val(price);
    select.on("change",function(){
      price = $(this).find("option:selected").data('price');
      $('#require-price').val(price);
    })
  })
</script>