<div class="row">
  <div class="col-md-5 offset-md-2">
    <%= form_for @paid_service,url: renewal_paid_service_path,method: :put do |f| %>
    <div class="form-group">
      <%= f.label "Конец" %>
      <%= f.date_field :end_date,class: "form-control date",value: @paid_service.end_date + 1.month %>
    </div>
    <div class="form-group">
      <%= f.label "Скидочный купон" %>
      <%= f.select :single_discount_id, current_branch.single_discounts.collect{|s| [s.title, s.id,{"data-discount" => s.discount_size,"data-fixed" => s.fixed}]},{include_blank: "Выберите купон"},{class: "custom-select",id: "select_discount" } %>
    </div>
    <div class="form-group">
      <%= f.label "Требуемая сумма" %>
      <%= f.text_field :required_amount,class: "form-control",id: "require-price", readonly: "readonly",value: @paid_service.client.discount ? @paid_service.service.discount_client_price(@paid_service.client) : @paid_service.service.price %>
    </div>
    <%= f.fields_for :incomes,@paid_service.incomes.build do |ff| %>
    <div class="form-group">
      <%= ff.label "Сумма" %>
      <%= ff.number_field :amount,class: "form-control",min: 1,id: "amount",step: "0.01" %>
      <%= ff.hidden_field :cash_box_session_id,value: current_cash_box.current_cash_box_session.id %>
    </div>
    <% end %>
    <%= f.submit "Продлить", class: "btn btn-success form-control" %>
    <% end %>
  </div>
</div>