<div class="row">
  <div class="col-md-5 offset-md-2">
    <%= form_for @consumption,url: consumptions_path do |f| %>
    <div class="form-group">
      <%= f.label "За что" %>
      <%= f.text_field :consumption_title, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Cумма" %>
      <%= f.number_field :amount,class: "form-control",min: 0,step: "0.01" %>
    </div>
    <div class="form-group">
      <%= f.label "Комментарий" %>
      <%= f.text_area :comment,class: "form-control" %>
    </div>
    <%= f.submit "Оформить расход", class: "btn btn-success form-control" %>
    <% end %>
  </div>
</div>