<h3><%= @discount.title %></h3>
<h5>Список дисконтных клиентов</h5>
<div class="row">
  <div class="col-md-12">
    <div id="discount_clients">
      <%= render "discount_clients", discount: @discount %>
    </div>
    <br><br>
    <hr>
    <div class="row">
      <div class="col-md-4">
        <%= form_for :q,url: find_clients_directory_discount_path,method: :get,remote: true do |f| %>
          <div class="form-group">
            <%= f.text_field :name, class: "form-control" %>
            <%= f.submit "Найти",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div id="clients">
    </div>
  </div>
</div>