<div class="row">
  <div class="col-md-5 offset-md-2">
    <%= form_for @operation,url: transfers_path do |f| %>
    <%= f.hidden_field :from_cashbox,value: current_cash_box.id %>
    <div class="form-group">
      <%= f.label "Филиал" %>
      <%= f.select :to_cashbox, CashBox.all.reject{|b| b.id == current_cash_box.id }.collect{|s| [s.branch.title, s.id]},{},{class: 'custom-select'} %>
    </div>
    <div class="form-group">
      <%= f.label "Cумма" %>
      <%= f.number_field :amount,class: "form-control",min: 0,step: "0.01" %>
    </div>
    <div class="form-group">
      <%= f.label "Комментарий" %>
      <%= f.text_area :comment,class: "form-control" %>
    </div>
    <%= f.submit "Оформить перевод", class: "btn btn-success form-control" %>
    <% end %>
  </div>
</div>