<div class="row">
  <div class="col-md-5 offset-md-2">
    <%= form_for :make_report,url: make_report_pdf_path ,html:{class: "filter-form",id: "pdf-form"} do |f| %>
      <div class="form-group">
        <%= f.label "Название операции" %>
        <%= f.select :operation, [["Приходы","income"],["Расходы","consumption"]],{},{class: 'custom-select'} %>
      </div>
      <div class="form-group">
        <%= f.label "Филиал" %>
        <%= f.select :cash_box, CashBox.all.collect{|s| [s.branch.title, s.id]},{include_blank: true},{class: 'custom-select'} %>
      </div>
      <div class="form-group">
        <%= f.label "Услуга" %>
        <%= f.select :service, Service.all.collect{|s| [s.title, s.id,{"data-price" => s.price}]},{include_blank: true},{class: "custom-select",id: "select_service" } %>
      </div>
      <div class="form-group">
        <%= f.label "Клиент" %>
        <%= f.select :client, Client.all.collect{|s| [s.name, s.id]},{include_blank: true},{class: "custom-select",id: "select_client" } %>
      </div>
      <div class="form-group">
        <%= f.label "C" %>
        <%= f.date_field :start_date, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label "По" %>
        <%= f.date_field :end_date, class: "form-control" %>
      </div>
      <%= f.submit "Сформировать отчет",class: "btn",name: nil,data: {disable_with: false} %>
    <% end %>
  </div>
</div>