<!DOCTYPE html>
<html>
  <head>
    <title>ShkolaRadosti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <% if user_signed_in? %>
      <% if current_user.admin? %>
        <div id="admin-branch-select">
          <%= render 'layouts/admin_branch_select' %>
        </div>
      <% end %>
      <a class="navbar-brand" href="#">ShkolaRadosti</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if current_user.admin? || current_user.admin_of_branch? %>
            <li class="nav-item">
              <%= link_to "Финансы",cashbox_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Клиенты", clients_path,class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to "Инвентарь", inventory_categories_path,class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.admin? || current_user.booker? %>
            <li class="nav-item">
              <%= link_to "Отчеты", new_report_path,class: 'nav-link' %>
            </li>
          <% end %>
          <% if current_user.admin? %>
            <li class="nav-item">
              <%= link_to "Справочники", directory_path,class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </nav>
    <div class="container-fluid">
      <% if flash[:notice] %>
        <p class="text-primary"><%= flash[:notice] %></p>
      <% end %>
      <% if flash[:error] %>
        <p class="text-danger"><%= flash[:error] %></p>
      <% end %>
      <div class="row">
        <% if user_signed_in? %>
        <div class="podl">
			<p><b>Сегодня:</b> <%= Date.today %></p>
            <% unless current_user.booker? %>
			<p><b>Детей:</b> <i id="visited_clients"><%= current_branch.clients.joins(:visited_days).where(:visited_days => {day: Date.today}).size %></i></p>
            <% end %>
			<p><b>Новых уведомлений:</b> <i>3</i></p>
            <%= link_to destroy_user_session_path,method: :delete,class: 'nav-link exit' do %>
                <i class="fas fa-sign-out-alt"></i>Выход
            <% end %>
		</div>
        <% end %>
        <div class="col-md-3 leftbar">
          <% if user_signed_in? %>
            <% unless current_user.booker? %>
              <h4 class="text-center"><%= current_branch.title %></h4>
              <div class="text-center">
                <p>Всего в кассе: <%= current_cash_box.cash %> грн</p>
              </div>
             <% end %>
              <div class="text-center">
                <div class="list-group">
                  <% unless request.path == "/" %>
                  <%= render "layouts/second_menu_#{request.path.split('/')[1]}" %>
                  <% else %>
                  <%= render "layouts/second_menu_clients" %>
                  <% end %>
                </div>
              </div>
          <% end %>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
