<!DOCTYPE html>
<html>
  <head>
    <title>ShkolaRadosti</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">ShkolaRadosti</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <% if user_signed_in? %>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Клиенты", clients_path,class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Касса#{if pending_transfers.size > 0 then '(' + pending_transfers.size.to_s + ')' end}",cashbox_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to "Справочники", directory_path,class: 'nav-link' %>
        </li>
      </ul>
    </div>
      <% end %>
  </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <% if user_signed_in? %>
            <h4 class="text-center"><%= current_branch.title %></h4>
            <div class="text-center">
              <p>Всего в кассе: <%= current_cash_box.cash %> грн</p>
            </div>
            <div class="text-center">
              <div class="list-group">
                <% unless request.path == "/" %>
                <%= render "layouts/second_menu_#{request.path.split('/')[1]}" %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-md-9">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
